@*
    1. Korisnik mora biti prijavljen
    2. Mora imati ulogu admina
*@

@using Microsoft.AspNetCore.Identity
@using web_shop.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(
          UserManager.GetUserAsync(User).Result, "admin"
     ))
{
    <div class="dropdown">
        <a class="btn nav-link dropdown-toggle" id="dropdownAdmin" data-bs-toggle="dropdown">
            Admin
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" type="button" asp-area="admin" asp-controller="categories" asp-action="index">
                    Categories
                </a>
                <a class="dropdown-item" type="button" asp-area="admin" asp-controller="products" asp-action="index">
                    Products
                </a>
            </li>
        </ul>
    </div>
}
